
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section scripts{
    <script src="~/Content/js/Andon/jsrender.min.js"></script>
}



<div class='row-fluid'>
    <div class='span12 box bordered-box blue-border'>
        <div class='box-content'>
            <img src="~/Content/assets/images/hyy.jpg" style="width:100%;height:100%;display:block">

        </div>
    </div>
</div>