<style>
    .new {
        color: #fff;
    }

    .old {
        color: red;
    }

    .sidebar-menu .treeview-menu > li > active {
        color: #fff !important;
        background: #000 !important;
    }

    .treeview-menu.menu-open {
        height: 100% !important;
        display: block;
    }

    #main-nav-bg {
    }

#main-nav1 {
        position: fixed;
        left: 0;
        z-index: 1;
        overflow-y: scroll;
        height: calc(100% - 68px);
        display: block
    }
    .sidebar-menu .treeview-menu > li > a.active {
        color: red !important;
    }


</style>

<div id='main-nav-bg' class="navbg"></div>
<div id='main-nav1' class="main-sidebar">
    <div class="sidebar">
        <ul class="sidebar-menu" id="sidebar-menu">
          
        </ul>
    </div>
</div>
